.whiteDarkTopImage.whiteDarkTopImage {
  left: 0;
  top: 0;
  width: 1420px;
  height: 591px;
}
._81BD44E16989415BB4FECD8C766788._81BD44E16989415BB4FECD8C766788 {
  background-image:/* webpackIgnore: true */ url('/assets/_81BD44E16989415BB4FECD8C7667882.jpg');
}
.blackWhiteTopImage.blackWhiteTopImage {
  left: 0;
  top: 631px;
  width: 1420px;
  height: 623px;
}
.a447B3F84B3F45398E4690CB18CC8A.a447B3F84B3F45398E4690CB18CC8A {
  background-image:/* webpackIgnore: true */ url('/assets/a447B3F84B3F45398E4690CB18CC8A2.jpg');
}
.topHeader.topHeader {
  position: absolute;
  left: 0;
  top: 564px;
}
._3CDA5BFBEEF449569754DC2B629DF5._3CDA5BFBEEF449569754DC2B629DF5 {
  background-image:/* webpackIgnore: true */ url('/assets/_3CDA5BFBEEF449569754DC2B629DF52.jpg');
}
.cC38524E53914421AC5214BE5CA56F.cC38524E53914421AC5214BE5CA56F.cC38524E53914421AC5214BE5CA56F {
  background-image:/* webpackIgnore: true */ url('/assets/cC38524E53914421AC5214BE5CA56F3.jpg');
}
.bottomHeader.bottomHeader {
  position: absolute;
  left: 0;
  top: 4133px;
}
._3CDA5BFBEEF449569754DC2B629DF52._3CDA5BFBEEF449569754DC2B629DF52 {
  background-image:/* webpackIgnore: true */ url('/assets/_3CDA5BFBEEF449569754DC2B629DF54.jpg');
}
.twitter1.twitter1 {
  background-image:/* webpackIgnore: true */ url('/assets/twitter12.jpg');
}
.instagram1.instagram1 {
  background-image:/* webpackIgnore: true */ url('/assets/instagram12.jpg');
}
.opensea_logo_icon_2482981.opensea_logo_icon_2482981 {
  background-image:/* webpackIgnore: true */ url('/assets/opensea_logo_icon_24829812.jpg');
}
.root {
  position: relative;
  width: 1420px;
  height: 4202px;
  align-items: flex-start;
}
.desktop2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
