.root {
  position: relative;
  width: 1420px;
  height: 69px;
  align-items: flex-start;
}
.rectangle5 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 15.942%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.cOPYRIGHT2023ALLRIGHT {
  color: #848484;
  font-size: 8px;
  font-weight: bold;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1em;
  position: absolute;
  left: 86.9014%;
  right: 2.6056%;
  top: 63.7681%;
  bottom: 23.1884%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.mINT {
  color: #848484;
  font-size: 8px;
  font-weight: bold;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 89.0141%;
  right: 6.9718%;
  top: 36.2319%;
  bottom: 34.7826%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cOLLECTION {
  color: #848484;
  font-size: 8px;
  font-weight: bold;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 82.1831%;
  right: 10.9859%;
  top: 36.2319%;
  bottom: 34.7826%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fAQ {
  color: #848484;
  font-size: 8px;
  font-weight: bold;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 78.3099%;
  right: 17.8169%;
  top: 36.2319%;
  bottom: 34.7826%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rOADMAP {
  color: #848484;
  font-size: 8px;
  font-weight: bold;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 93.0282%;
  right: 1.831%;
  top: 44.9275%;
  bottom: 42.029%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pROJECTS {
  color: #848484;
  font-size: 8px;
  font-weight: bold;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 66.338%;
  right: 27.3239%;
  top: 44.9275%;
  bottom: 42.029%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.cONTACT {
  color: #848484;
  font-size: 8px;
  font-weight: bold;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2em;
  position: absolute;
  left: 72.6761%;
  right: 21.6901%;
  top: 44.9275%;
  bottom: 42.029%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._3CDA5BFBEEF449569754DC2B629DF5 {
  position: absolute;
  left: 44.2254%;
  right: 44.1549%;
  top: 24.6377%;
  bottom: 28.9855%;
  background-image:/* webpackIgnore: true */ url('/assets/_3CDA5BFBEEF449569754DC2B629DF53.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.twitter1 {
  position: absolute;
  left: 14.5775%;
  right: 84.2958%;
  top: 40.5797%;
  bottom: 36.2319%;
  background-image:/* webpackIgnore: true */ url('/assets/twitter1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.instagram1 {
  position: absolute;
  left: 17.4648%;
  right: 81.4085%;
  top: 40.5797%;
  bottom: 36.2319%;
  background-image:/* webpackIgnore: true */ url('/assets/instagram1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.opensea_logo_icon_2482981 {
  position: absolute;
  left: 20.3521%;
  right: 78.5211%;
  top: 40.5797%;
  bottom: 36.2319%;
  background-image:/* webpackIgnore: true */ url('/assets/opensea_logo_icon_2482981.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
