.root {
  position: relative;
  width: 75.7865px;
  height: 95px;
  align-items: flex-start;
}
.cC38524E53914421AC5214BE5CA56F {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 189px;
  background-image:/* webpackIgnore: true */ url('/assets/cC38524E53914421AC5214BE5CA56F.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
